name: Build iOS IPA

on:
  workflow_dispatch: # Allows manual triggering
  push:
    branches: [ "master" ]

jobs:
  build-ios:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          
      - name: Get dependencies
        run: flutter pub get

      - name: Install Pods
        run: |
          cd ios
          pod install --repo-update
          cd ..

      - name: Build iOS App (No Codesign)
        run: flutter build ios --release --no-codesign

      - name: Create IPA for Sideloadly
        run: |
          mkdir Payload
          mv build/ios/iphoneos/Runner.app Payload/
          zip -r my_echo.ipa Payload

      - name: Upload IPA
        uses: actions/upload-artifact@v4
        with:
          name: my_echo_ipa
          path: my_echo.ipa
